* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto; 
}
.promo {
    height: 800px;
    background: url('../img/bg/cap.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.logo .logo_img {
    display: block;
    margin: 0 auto;
}
.logo .logo_text {
    color: #fff;
    font-family: 'Roboto Medium';
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}
h1 {
    margin-top: 46px;
}
.title {
    text-transform: uppercase;
    font-size: 41px;
    font-family: 'Roboto Black';
    color: #f9bf3b;
    text-align: center;
}
h2.title {
    margin-top: 7px;
}
.simple .title_big {
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Roboto Black';
    color: #fff;
    text-align: center;
}

.promo .promo_text {
    text-align: center;
    font-family: 'Roboto Light';
    color: #fff;
    font-size: 21px;
    line-height: 28px;
    margin-top: 13px;
    padding: 0 13px 0 13px;
}
.promo_text span {
    color: #f9bf3b;
    text-transform: uppercase;
    font-family: 'Roboto Bold';
}
.promo .promo_btn, .present .present_btn {
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    border-radius: 6px;
    background-image: linear-gradient(to top, #289abb 0%, #3ab6da 100%);
    display: block;
    margin: 69px auto;
    font-family: 'Roboto Regular';
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;
}

.present .present_btn {
    margin-top: 46px;
    margin-bottom: 0;
}

.logo_bottom .bottom_text {
    text-transform: uppercase;
    font-family: 'Roboto Thin';
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 9px;
}

.logo_bottom .row {
    display: block;
    margin: 0 auto;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 80px 0 75px 0;
}
h2.waiting_header {
    font-family: 'Roboto Regular';
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}
.waiting .waiting_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 13px;
}
.waiting .waiting_subheader {
    font-family: 'Roboto Regular';
    font-size: 23px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top: 15px;
}
.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}
.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
    font-family: 'Roboto Light';
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top: 31px;
}

.optimization {
    min-height: 550px;
    padding: 100px 0 107px 0;
}

.optimization_header {
    margin-left: 380px;
    font-family: 'Roboto Black';
    font-size: 28px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #299cbd;
    text-transform: uppercase;
}

.optimization_text {
    margin-left: 380px;
    margin-top: 25px;
    font-family: 'Roboto Light';
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: justify;
    color: #4a4a4a;
}

.optimization_text span {
    font-family: 'Roboto Bold';
}

.optimization_img {
    position: absolute;
    top: -54px;
    left: -249px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    background: url('../img/bg/middle.jpg') center center/cover no-repeat;
    padding: 78px 0 76px 0;
}

.finish .finish_header {
    font-family: 'Roboto Regular';
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
    text-transform: uppercase;
}

.finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 15px;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish_item_1 {
    width: 178px;
    text-align: center;
}

.finish_item_2 {
    width: 204px;
    text-align: center;
}

.finish_item_3 {
    width: 196px;
    text-align: center;
}

.finish_item_4 {
    width: 194px;
    text-align: center;
}

.finish_item_5 {
    width: 202px;
    text-align: center;
}

.finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 88px;
    margin: 0 auto;
}

.finish_descr {
    margin-top: 23px;
    font-family: 'Roboto Light';
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}

.present {
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 87px 0;
}

.present .present_logo .present_img {
    display: block;
    margin: 0 auto;
}

.present .present_logo .present_text {
    font-family: 'Roboto Regular';
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    margin-top: 36px;
}

.time {
    min-height: 515px;
    padding: 89px 0 62px 0;
}

.time .time_img {
    display: block;
    margin: 0 auto;
}

h2.time_title {
    font-family: 'Roboto Regular';
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    margin-top: 33px;
    text-transform: uppercase;
}

.time h3.time_when {
    font-family: 'Roboto Black';
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #299cbd;
    margin-top: 17px;
    text-transform: uppercase;
}

.time .time_text {
    font-family: 'Roboto Regular';
    font-size: 23px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top: 15px;
}

.footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.footer .footer_text {
    width: 377px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Light';
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
}

.footer .footer_text a {
    color: #888888;
}